@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa:wght@300;400;500;600;700&family=Instrument+Serif&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

.h1{
    font-family: 'Playfair Display', serif;
    font-weight:bolder;
    font-size: 30px;
}

img{
    width: 35px;
}

.btn{
    background-color: black;
}
